In [7]:
import pandas as pd
import sqlalchemy as sql
import psycopg2
import sql_functions as sf 
import update as up

In [10]:
df_fkz = pd.read_csv('data/funktionenliste.csv',dtype={'fkz': str})
df_groups = pd.read_csv('data/gruppenliste.csv',dtype={'gruppe': str})
df_fkz
df_groups

    gruppe                                         gruppe_txt
0        0  Einnahmen aus Steuern und steuerähnlichen Abga...
1       01       Gemeinschaftssteuern und Gewerbesteuerumlage
2      011                          Lohnsteuer (Landesanteil)
3      012         Veranlagte Einkommen steuer (Landesanteil)
4      013  Nicht veranlagte Steuern vom Ertrag (ohne Abge...
..     ...                                                ...
307    799             Große Neu-, Um- und Erweiterungsbauten
308    851                                   Darlehen an Bund
309    870               Inanspruchnahme aus Gewährleistungen
310    896             Zuschüsse für Investitionen an Ausland
311    916                    Zuführungen an Fonds und Stöcke

[312 rows x 2 columns]

In [11]:
up.update_fkz(df_fkz)
up.update_group(df_groups)

The funktionsbezeichnungen table was imported successfully.
The gruppen table was imported successfully.